<div class="subscription-container">
  <div class="content">
    <div class="custom-logo-container">
      <img src="./assets/pngwing.com (2).png" alt="Logo de Netflix" class="custom-logo">
    </div>
    <div class="content-hijo">
      <h2 class="subscription-title">Peliculas y series ilimitadas y mucho mas</h2>
      <p class="subscription-description">¿Quieres ver Netflix ya? Ingresa tu email para crear una cuenta o reiniciar tu membresía de Netflix.</p>
      <form class="subscription-form" submit="password()">
        <input type="email" placeholder="Email" class="subscription-input">
        <button type="submit" class="subscription-button">Comenzar</button>
      </form>
    </div>
  </div>
</div>
