<div class="sidebar">
  <div class="content-center">
    <ul>
      <li class="icon">
        <a class="fas fa-search" routerLink="/navigator/buscadornetflix" routerLinkActive="active"></a></li>
      <li class="icon">
        <a class="fas fa-home" routerLink="/navigator/" routerLinkActive="active"></a></li>
      <li class="icon">
        <a class="fas fa-tv" routerLinkActive="active"></a></li>
      <li class="icon">
        <a class="fas fa-film" routerLink="/navigator/categorias" routerLinkActive="active"></a></li>
    </ul>
  </div>
</div>
<div class="contenido-pantalla">
  <router-outlet></router-outlet>
</div>
